@font-face {
    font-family: 'Century';
    src: url('Century.eot');
    src: url('Century.eot?#iefix') format('embedded-opentype'),
        url('Century.woff2') format('woff2'),
        url('Century.woff') format('woff'),
        url('Century.ttf') format('truetype'),
        url('Century.svg#Century') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

